@import "../../vars.css";

.header{
    text-align: center;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.filters{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* @media screen and (max-width: 1060px){
    .filters{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        justify-content: center;
    }
} */