@import "../../vars.css";

.main{
    background-color: var(--secondary-bg-color);
    border-radius: 1rem;
    padding: 1rem;
    min-height: 60vh;
}

.defaultContainer{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noTourMessage{
    color: var(--header-text-color);
    font-size: var(--header-font-size);
}

.spinner{
    width: 17rem !important;
    height: 17rem !important;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    justify-content: center;
}