@import "../../vars.css";

.main{
    display: flex;
    flex-direction: column;
}

.mainData{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img{    
    width: 100%;
    border-radius: 2rem;
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
}

.imgContainer{
    flex: 0 0 700px;
    padding: 1rem;
}

.imgBox{
    background-color: var(--main-bg-color);
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.data{
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    border: 1px solid gray;
    border-radius: 2rem;
    background-color: var(--secondary-bg-color);
}

.name{
    margin-bottom: 1rem;
}

.nameSpan{
    font-size: var(--header-font-size);
    word-break: break-word;
      white-space: pre-line;
      overflow-wrap: break-word;
      -ms-word-break: break-word;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
}

.bold{
    font-weight: bold;
}

.itallic{
    font-style: italic;
}

.description{
    margin: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--main-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.tourRegistrationBox{
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    border: 1px solid gray;
    border-radius: 2rem;
    background-color: var(--secondary-bg-color);
}

.tourData{
    background-color: var(--main-bg-color);
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 980px){
    .imgContainer{
        flex: 1 0 auto;
        width: 100%;
    }
    .description{
        margin: 0;
    }
}