@import "../../vars.css";

.main{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.main > thead > tr > th {
    background-color: var(--main-bg-color);
    padding: 1rem;
}

.main > tbody > tr > td{
    padding: 1rem;
}

.main > tbody > tr{
    border-bottom: 1px solid gray;
}