@import "../../vars.css";

.header{
    background-color: var(--secondary-bg-color) !important;
}

.navbar_brand{
    font-size: var(--header-font-size) !important;
}

.navbar_collapse{
    flex-grow: 0 !important;
}

.expand_btn{
    background-color: var(--main-bg-color);
}