@import "../../vars.css";

.box{
    padding: 2vh 0;
    padding-right: 4vw;
    padding-left: 25vw;
    background-color: var(--secondary-bg-color);
    border-radius: 1rem;
    box-sizing: border-box;
}

@media screen and (max-width: 1060px){
    .box{
        padding-left: 4vw;
    }
}